<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PartyMemberManagementSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PartyMemberManagementSystem.Properties.Settings.ConnectionString" connectionString="Dsn=PMMS_DB" providerName="System.Data.Odbc" />
        <add name="PartyMemberManagementSystem.Properties.Settings.PMMSConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\PMMS.accdb" providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <PartyMemberManagementSystem.Properties.Settings>
            <setting name="DataGridViewAlternativeColor" serializeAs="String">
                <value>Gainsboro</value>
            </setting>
            <setting name="DataGridViweRowHeight" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="DataGridViweFont" serializeAs="String">
                <value>Khmer OS Content, 9.75pt</value>
            </setting>
            <setting name="Languguage" serializeAs="String">
                <value>en-US</value>
            </setting>
        </PartyMemberManagementSystem.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
